{% load i18n %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
    <head>
        <title>{% trans "Apartment" %}</title>

        <link href="/static/bootstrap/dist/css/bootstrap.min.css" type="text/css" media="all" rel="stylesheet" />
        <script type="text/javascript" src="/static/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/static/bootstrap/dist/js/bootstrap.min.js"></script>

        <style>
            .address {
                width: 300px;
            }
        </style>

        {{ form.media }}
    </head>
    <body>
        <div class="header_options">
            <div class="header_options">
                <form action="/admin/webapp/apartment/">
                    <input type="submit" value="{% trans 'List of apartments' %}" />
                </form>
            </div>
        </div>

        <div class="apartment_form" style="margin-top: 10px">
            <div class="header">
                {% if apartment %}
                    {% trans "Edit form" %}
                {% else %}
                    {% trans "Create form" %}
                {% endif %}
            </div>

            <form action="{{ request.path }}" enctype="multipart/form-data" method="post" >
                {% csrf_token %}

                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-12 col-sm-12">
                            <div class="form-group">
                                <label for="{{ form.address.id_for_label }}">
                                    {% trans "Address:" %}
                                </label>
                                <div>{{ form.address.errors }}</div>
                                {{ form.address }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-md-12 col-sm-12">
                            <div class="form-group">
                                <label for="{{ form.thumbnail.id_for_label }}">Thumbnail:</label>
                                {% if apartment %}
                                <div>
                                    <img src="{{ apartment.thumbnail.url }}" width="150" height="150" />
                                </div>
                                {% endif %}
                                <div>{{ form.thumbnail.errors }}</div>
                                {{ form.thumbnail }}
                            </div>
                        </div>
                    </div>
                    {% if apartment %}
                        <input type="submit" value="{% trans 'Update'%}">
                        <div class="apartment_options">
                            <form action="{{ request.path }}delete/">
                                <input type="submit" value="{% trans 'Delete' %}" />
                            </form>
                        </div>
                        <div class="header_options">
                            <form action="{% url 'apartment_form' %}">
                                <input type="submit" value="{% trans 'Add new' %}" />
                            </form>
                        </div>
                    {% else %}
                        <input type="submit" value="{% trans 'Create' %}">
                    {% endif %}
                </div>
            </form>
        </div>
  </body>
</html>
