{% extends "admin/change_list.html" %}
{% load i18n admin_static admin_list %}

{% block extrastyle %}
    {{ block.super }}
    <link href="/static/bootstrap/dist/css/bootstrap.min.css" type="text/css" media="all" rel="stylesheet" />
    <style>
      .address {
        width: 300px;
      }
    </style>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="/static/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
    {{ form.media }}
{% endblock %}

{% block search %}
    <div id="toolbar">
        <form id="changelist-search" method="get" action="">
            <div><!-- DIV needed for valid HTML -->
                {{ form.address.errors }}
                <label for="{{ form.address.id_for_label }}">
                   {{ form.address.label }}:
                </label>
                {{ form.address }}
                <input type="submit" value="{% trans 'Search' %}" />
            </div>
            {% if other_search_fields.address %}
                {% trans 'Displaying results for:' %} {{ other_search_fields.address.0 }}
            {% endif %}
        </form>
    </div>
{% endblock %}
